.carousel {
    padding: 20px;
    background-color: #ffffff;
}

.carousel__title {
    text-align: center;
    color: #003366;
    font-size: 1.8em;
    margin-bottom: 20px;
}

.carousel__container {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding-bottom: 10px;
}

.carousel__card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    padding: 15px;
    text-align: left;
    flex: 0 0 auto;
    position: relative;
    background-size: cover;
    background-position: center;
}

.carousel__content {
    position: relative;
    z-index: 2;
    color: white;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
}

.carousel__card-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #ffffff;
}

.carousel__card-description {
    font-size: 1em;
    color: #e0e0e0;
}

.carousel__controls {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.carousel__button {
    background: none;
    border: none;
    cursor: pointer;
}

.carousel__button img {
    width: 24px;
    height: 24px;
}
.carousel__button--prev{
    transform: rotate(180deg);
}
.carousel__button--next{
    transform: rotate(180deg);
}