.carousel__container {
    display: flex;
    gap: 16px;
    overflow-x: scroll;
    margin-left: -24px;
    margin-right: -24px;
    scroll-snap-type: x mandatory;
    }
    
    .carousel__item {
    flex: 1 0 100%;
    scroll-snap-align: center;
    }
    
    .carousel__item div {
    display: block;
    }