.header{
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 20;
}


.header__logo img {
    height: 50px;
    margin-top: 10px;
}

.header__menu-btn img {
    width: 30px;
    cursor: pointer;
    filter: invert(1);
}

.header__menu {
    display: none;
}

.header__menu.open {
    display: block;
}

.header__menu-list {
    list-style: none;
    padding: 0;
}

.header__menu-item a {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
}

.header__menu-item a:hover {
    text-decoration: underline;
}
