.menu {
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  display: flex;
  position: fixed;
  inset: 0;
  background-color: var(--blue-h2);
  font-size: var(--h2);
  font-family: righteous;
  transition: all 0.4s ease-in-out;
}
.menu[aria-hidden="false"] {
  visibility: visible;
  opacity: 1;
}

.menu__list {
  list-style: none;
  margin-top: 25vh;
  width: 85%;
  
}

.menu__item {
  margin-top: 15%;
}

.menu__link {
  color: white;
  text-decoration: none;
}

.menu-btn {
  margin-top: 36px;
  position: relative;
  z-index: 1001;
  width: 30px;
  margin-right: 1rem;
}

.menu-btn__bar,
.menu-btn__bar::before,
.menu-btn__bar::after {
  content: "";
  background: white;
  height: 2px;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 10;
  transition: all 0.4s ease-in-out;
}

.menu-btn__bar::before {
  top: -10px;
}

.menu-btn__bar::after {
  top: 10px;
}


.menu-btn[aria-expanded="true"] .menu-btn__bar,
.menu-btn[aria-expanded="true"] .menu-btn__bar::before,
.menu-btn[aria-expanded="true"] .menu-btn__bar::after {
  transform: rotate(135deg);
  background: white;
}

.menu-btn[aria-expanded="true"] .menu-btn__bar::before,
.menu-btn[aria-expanded="true"] .menu-btn__bar::after {
  transform: rotate(90deg);
  top: 0;
}